body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.top-banner h1{
    font-size: 42px;
}
.top-banner h3{
    margin-top: 75px;
    margin-bottom: 40px;
}
.top-banner p{
    margin-bottom: 50px;
}
.top-banner h1 span{
    color:orangered;
}
section{
    display: flex;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.half-size{
    width: 50%;
    padding-left: 5%;
}
.half-size img{
    width: 100%;
}
.link-btn{
    background-color: orchid;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 40px;
    color: #fff;
    border-radius: 10px;
    background-image: linear-gradient(orchid, orangered);
}