body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.top-banner h1{
    font-size: 42px;
}
.top-banner h3{
    margin-top: 75px;
    margin-bottom: 40px;
}
.top-banner p{
    margin-bottom: 50px;
}
.oranged-color{
    color:orangered;
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.half-size{
    width: 50%;
    padding-left: 5%;
    box-shadow: ;
}
.half-size img{
    width: 100%;
}
.link-btn{
    background-color: orchid;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 40px;
    color: #fff;
    border-radius: 10px;
    background-image: linear-gradient(orchid, orangered);
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience{
    padding-left: 5%;
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left ;
}
.experience h1{
    font-size: 50px;
    margin-bottom: 25px;
}
.experience-item{
    width: 40%;
    margin left: 5%;
    margin-right: 5%;
    padding-left: 10px;
    box-shadow: 10px 10px 40px springgreen;
}

#full-stack{
    border-left: 10px solid;
    border-image: linear-gradient( purple, orangered);
    border-image-slice: 1;
}
#baby{
    border-left: 10px solid;
    border-image: linear-gradient( blue, cyan);
    border-image-slice: 1;
}
footer{
    text-align: center;
    margin-bottom: 5px;
}